body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #414042;
}


.background-index {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -50;
    background-color: #fff;
}

.background-mask {
    background-color: rgba(90,90,90,.8);
    z-index: -50;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 25px;
    margin: 1%;
    font-weight: 50;
    color: #414042;
}
h2 {
    font-size: 16px;
    color: #414042;
    margin: 5px;
}
h4 {
    font-weight: 100;
    font-size: 18px;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: #414042;
}
a {
    text-decoration     : none;
}
div {
    -webkit-text-size-adjust: none;
}
.navbar {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    bottom: 0;
}
.nav-item {
    padding-right: 6%;
}
.nav-item2 {
    padding-right: 6%;
}
.btn, .btn-outline-light{
    font-weight: 70;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #414042;
}
.btn:hover, .btn-outline-light:hover{
    font-weight: 200;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    /*color: #8ED3D0;*/
}
.navbar-brand {
    float: left;
    padding: 0;
    bottom: 0;
}
.navbar-nav{
    margin-left: 2%;
    width: 30%;
    display: inline;
    bottom: 0;
}
.nav-item:hover{
    color: #80E6DB;
}
.nav-item2:hover{
    color: #80E6DB;
}
.navbar-brand:hover {
    color: #FECC4E;
}
a {
    color: black;
    cursor: pointer;
    display: inline;
}
a:hover{
    color: #black;
}

.splash {
    margin-top: 0%;
    text-align: center;
    z-index: 100;
    position: relative;
}

.p_title {
    font-weight: 1000;
    font-size: 15px;
    margin-top: 6%;
}

.row {
    padding-bottom: 3%;
}

.splash h3 {
    font-size: 20px;
    font-weight: 700;
    color: #ccc;
    margin-top: 0;
}


#grid-area {
    width:100%;
    /*overflow: hidden;*/
    /*margin-top: 5%;*/
}

#grid {
    margin-top: 3%;
    height: 100%;

    justify-content: center;
    /*flex-wrap: wrap;*/
}

.grid {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    margin-bottom: 10%;

}
.cell {
    flex: 0 0 30%;                       /* don't grow, don't shrink, width */
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
    /*background-color: #999;*/
    text-align: center;
}
.floating0 {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
.floating1 {
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    margin-left: 5px;
    margin-top: 25px;
}
.floating2 {
    animation-name: floating;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    margin-right: 25px;
    /*margin-top: 20px;*/
}
.floating3 {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-right: 30px;
    margin-bottom: 30px;
}
.floating4 {
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    margin-left: 5px;
    margin-top: 1px;
}
.floating5 {
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 23px;
    margin-top: 23px;
}
.floating6 {
    animation-name: floating;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    margin-right: 25px;
    margin-top: 10px;
}
.floating7 {
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    margin-left: 10px;
    margin-top: 30px;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 20px); }
    to   { transform: translate(0, -0px); }
}
#cell1_img{
    opacity: 0;
    padding: 1%;
}
#cell1_img:hover{
    width: 22%;
    height: 22%;
}
#cell2_img{
    opacity: 0;
    padding: 1%;
}
#cell2_img:hover{
    width: 22%;
    height: 22%;
}
#cell3_img{
    opacity: 0;
    padding: 1%;
}
#cell3_img:hover{
    width: 22%;
    height: 22%;
}
#cell4_img{
    opacity: 0;
    padding: 1%;
}
#cell4_img:hover{
    width: 22%;
    height: 22%;
}
#cell5_img{
    opacity: 0;
    padding: 1%;
}
#cell5_img:hover{
    width: 22%;
    height: 22%;
}
#cell6_img:hover{
    width: 22%;
    height: 22%;
}
#cell6_img{
    opacity: 0;
    padding: 1%;
}
#cell7_img:hover{
    width: 22%;
    height: 22%;
}
#cell7_img{
    opacity: 0;
    padding: 1%;
}
#cell8_img{
    opacity: 0;
    padding: 1%;
}
#cell8_img:hover{
    width: 22%;
    height: 22%;
}

span{
    font-size: 16px;
    font-weight: 400;
}


#legend {
    margin-bottom: 4%;
}

#legend_p {
    display: inline;
    margin-right: 3%;
}

.unsplash{
    margin-top: 3%;
}
.dotBox {

    height: 100px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.dotarea {
    width: 100%;
    height: 50%;
    /*margin-left: 40%;*/
}

.dot {
    margin: 0 auto;
    margin-left: 50%;
    height: 14px;
    width: 14px;
    border-radius: 100%;
    background-color: #eee;
    padding: 2.5px;
}

.visitedDot {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
}

.line {
    z-index: 5;
    stroke: rgba(100,100,100,.1);
    stroke-width: 5px;
    stroke-linecap: round;
}

#canvas {
    position: absolute;
    top: 0;
}

#mobile-warning {
    visibility: hidden;
}
#mobile-warning2 {
    visibility: hidden;
}

@media (max-width: 780px) {
    #mobile-warning { visibility: visible; }
    #canvas { visibility: hidden; }
    #grid-area { visibility: hidden; }
    #mobile-warning2 { visibility: visible; }
    .navbar-nav { visibility: hidden;}
    h1 { font-size: 30px; }
    h2 { font-size: 22px; }
}