/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*데스크탑*/
@media screen {
  #playground:hover{
    font-weight: 500;
  }
  #about:hover{
    font-weight: 500;
  }
  #works:hover{
    font-weight: 500;
  }
  #soheum:hover{
    font-weight: 900;
  }
  html{
    font-size: 10px;
    height: 100vh;
  }
  .header{
    margin-top: 6%;
    margin-left: 5%;
		margin-right: 5%;
    margin-bottom: 2%;
  }
	.header_mobile{
		display: none;
	}
  .mainpht img{
    max-width: 100%;
  }
	.tool{
		margin-top: 18%;
	}
	.container:before, .container:after {
  display: table;
  content: "";
  zoom: 1;
  }
  .row:before, .row:after {
   display: table;
   content: "";
   zoom: 1;
   }

	#responsive {
  	width: 97%;
  	height: auto;
  }
  .item video {
		max-width: 100%;
	}

  svg{
    position: absolute;
    top: 0;
    z-index: -1;
  }
  h1{
    font-family: "Poppins", sans-serif;
    font-size: 3.8rem;
    font-weight: 600;
    color: #404040;
  }
  h2{
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
		display: inline;
    color: #404040;
  }
  h3{
    font-family: "Poppins", sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    color: #404040;
    line-height: 2.4rem;
  }
  h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: #404040;
  }
	h5{
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #404040;
    margin-bottom: 1.5%;
  }
  h6{
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #404040;
    margin-bottom: 1.5%;
  }
	p{
		font-family: "Poppins", sans-serif;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 100;
		line-height: 1.5em;
    color: #404040;
	}
  p strong{
    font-weight: 300;
  }
	h7{
		font-family: "Poppins", sans-serif;
    align-items: flex-end;
    font-size: 1.7rem;
    font-weight: 400;
		line-height: 1.3em;
    color: #F5B8B8;
	}
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
}

@media only screen and (max-width: 600px) {
  .header{
    margin-top: 12%;
    margin-left: 10%;
		margin-right: 10%;
    margin-bottom: 2%;
  }
	.row{
		margin-left: 2%;
		margin-right: 2%;
	}
	img {
    max-width: 100%;
    max-height: 100%;
	}
	p strong{
		font-weight: 300;
	}
	.container{
		/* width: 100; */
	}
	.maintitle{
		padding-top: 30%;
	}
	.mobile{
		display: block;
		line-height: 3rem;
	}
	.screen{
		display: none;
	}
	.screen iframe{
		display: none;
	}
	.mobile iframe{
		display: block;
	}
	#about{
		display: none;
	}
	#playground{
		display: none;
	}
	#works{
		display: none;
	}
	#soheum{
		display: none;
	}
	#header_mobile{
		margin-top: -4%;
	}
	.header_mobile{
		display: block;
	}
	.semititle{
		margin-top: 5%;
	}
	.content{
		margin-top: 10%;
	}
	.tool{
		margin-top: 5%;
	}



	h1{
		font-family: "Poppins", sans-serif;
		font-size: 2.5rem;
		font-weight: 600;
		color: #404040;
	}
	.h1{
		font-family: "Poppins", sans-serif;
		font-size: 2rem;
		font-weight: 600;
		color: #404040;
	}
	h2{
		font-family: "Poppins", sans-serif;
		font-size: 1.7rem;
		font-weight: 600;
		display: inline;
		color: #404040;
	}
	h3{
		font-family: "Poppins", sans-serif;
		font-size: 1.5rem;
		font-weight: 500;
		color: #404040;
		line-height: 2rem;
	}
	h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.5rem;
		margin-top: 3%;
		/* display: inline; */
		font-weight: 400;
		color: #404040;
	}
	.h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.4rem;
		display: inline;
		font-weight: 200;
		color: #404040;
	}
	h5{
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #404040;
  }
		/* didn't use yet */
	h6{
		font-family: "Poppins", sans-serif;
		font-size: 1.2rem;
		font-weight: 400;
		margin-top: 2%;
		color: #404040;
		margin-bottom: 1.5%;
	}
	h7{
		font-size: 1.5rem;
	}
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
	p{
		font-family: "Poppins", sans-serif;
		align-items: flex-end;
		font-size: 1.3rem;
		font-weight: 100;
		line-height: 1.8rem;
		color: #404040;
	}
}
