/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen{
  html{
    font-size: 10px;
    height: 100vh;
  }
	img {
    max-width: 100%;
    max-height: 100%;
	}
	.col-xl-4{
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-md-6{
		padding-left: 5px;
		padding-right: 5px;
	}
	.col-sm-12{
		padding-left: 5px;
		padding-right: 5px;
	}
	#playground:hover{
		font-weight: 500;
	}
	#about:hover{
		font-weight: 500;
	}
	#works:hover{
		font-weight: 500;
	}
	#soheum:hover{
		font-weight: 900;
	}
	#header_mobile{
		display: none;
	}
	.number{
		font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
		margin-top: 10%;
    color: #FFFFFF;
		text-shadow: -0.5px 0 #404040, 0 0.5px #404040, 0.5px 0 #404040, 0 -0.5px #404040;
	}
	.category{
		font-family: "Oswald", sans-serif;
		font-size: 40px;
		color: #E1E1E1;
		font-weight: 600;
		line-height: 45px;
		margin-top: 3%;
	}
	.category:hover{
		color: #404040;
		cursor: pointer;
	}
	.row{
		padding-left: 5%;
		padding-right: 5%;
	}
	.container{
		max-width:100%;
		padding-left: 11%;
		padding-right: 11%;
	}
	.row{
		padding-left: 0%;
		padding-right: 0%;
	}
	.smallcol{
		padding-top: 2%;
		margin-left: 5%;
		margin-right: 5%;
	}
	#baseball:hover{
		max-width: 101%;
		cursor: pointer;
	}
	#carui:hover{
		max-width: 101%;
		cursor: pointer;
	}
	#gaja:hover{
		max-width: 101%;
		cursor: pointer;
	}
	#insta:hover{
		max-width: 101%;
		cursor: pointer;
	}
	#zyga:hover{
		max-width: 101%;
		cursor: pointer;
	}
	#school:hover{
		max-width: 101%;
		cursor: pointer;
	}
/*
  .mainbody{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
  } */
  .header{
    margin-top: 6%;
    margin-left: 5%;
		margin-right: 5%;
    margin-bottom: 2%;
  }


  svg{
    position: absolute;
    top: 0;
    z-index: -1;
  }
  h1{
    font-family: "Poppins", sans-serif;
    font-size: 4.7rem;
    font-weight: 800;
    color: #404040;
  }
	h2{
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
		display: inline;
    color: #404040;
  }
  h3{
    font-family: "Poppins", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: #404040;
  }
  h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.7rem;
		display: inline;
    font-weight: 300;
    color: #404040;
  }
  h6{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #404040;
    margin-top: 2.5%;
		margin-left: 1%;
  }
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
	p{
		font-family: "Poppins", sans-serif;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: 100;
		line-height: 1.3em;
    color: #404040;
	}
}
@media screen and (max-width: 600px){
	.col-sm-12{
		padding-left: 100px;
		padding-right: 100px;
	}
	.mainbody{
		display: grid;
		margin-left: 10%;
		margin-right: 10%;
	}
	.header{
		margin-top: 12%;
		margin-left: 10%;
		margin-right: 10%;
		margin-bottom: 2%;
	}
	#about{
		display: none;
	}
	#playground{
		display: none;
	}
	#works{
		display: none;
	}
	#header_mobile{
		display: block;
		margin-left: 4%;
		margin-top: -4%;
	}
	#target{
		font-weight: 500;
	}

	h1{
		font-family: "Poppins", sans-serif;
		font-size: 3.7rem;
		font-weight: 800;
		color: #404040;
	}
	h2{
		font-family: "Poppins", sans-serif;
		font-size: 2.3rem;
		font-weight: 600;
		display: inline;
		color: #404040;
	}
	h3{
		font-family: "Poppins", sans-serif;
		font-size: 1.7rem;
		font-weight: 500;
		color: #404040;
		line-height: 2rem;
	}
	h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.5rem;
		margin-top: 3%;
		/* display: inline; */
		font-weight: 400;
		color: #404040;
	}
	h5{
		font-family: "Poppins", sans-serif;
		font-size: 1.2rem;
		font-weight: 500;
		color: #404040;
		margin-top: 3%;
		margin-bottom: 1.5%;
	}
	.h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.4rem;
		margin-top: 3%;
		display: inline;
		font-weight: 200;
		color: #404040;
	}
		/* didn't use yet */
	h6{
		font-family: "Poppins", sans-serif;
		font-size: 1.3rem;
		font-weight: 100;
		margin-top: 2%;
		color: #404040;
		margin-bottom: 1.5%;
	}
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
	p{
		font-family: "Poppins", sans-serif;
		align-items: flex-end;
		font-size: 1.5rem;
		font-weight: 100;
		line-height: 1.3em;
		color: #404040;
	}
}
