/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen {
  html{
    font-size: 10px;
    height: 100vh;
  }
	#playground{
		font-size: 1.7rem;
	}
	#works{
		font-size: 1.7rem;
	}
  #about:hover{
    font-weight: 500;
  }

	.header_mobile{
		display: none;
	}
  .mainbody{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header{
    margin-top: 6%;
    margin-left: 5%;
		margin-right: 5%;
    margin-bottom: 2%;
  }
  .mainbody{
    display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(8, 1fr);
		align-items: stretch;
    overflow: hidden;
		height: 80vh;
  }
	.smalltitle{
		margin-top: 1%;
	}
  .norinuri{
    grid-row: 3/4;
		grid-column: 1/5;
    cursor: pointer;
  }
  #norinuri{
    position: absolute;
		margin-left: 10%;
    max-height: 100%;
  }
  .journey{
    grid-row: 4/5;
    grid-column: 1/5;
    cursor: pointer;
  }
  #journey{
    position: absolute;
    max-height: 100%;
		margin-left: 10%;
  }
  .comine{
    grid-row: 5/6;
    grid-column: 1/5;
    cursor: pointer;
  }
  #comine{
    position: absolute;
    max-height: 100%;
		margin-left: 12%;
  }
  .algo{
    grid-row: 6/7;
    grid-column: 1/5;
    cursor: pointer;
  }
  #algo{
    position: absolute;
    max-height: 100%;
		margin-left: 10%;
  }
  .graphic{
    grid-row: 7/8;
    grid-column: 1/5;
    cursor: pointer;
  }
  #graphic{
    position: absolute;
    max-height: 100%;
		margin-left: 10%;
  }
	.retail{
		grid-row: 8/9;
		grid-column: 1/5;
		cursor: pointer;
	}
	#joule{
    position: absolute;
		margin-left: 14%;
    max-width: 23%;
  }
  .photo{
    grid-row: 1/5;
    grid-column: 5/8;
  }
  .photo img{
    max-height: 100%;
    max-width: 100%;
  }
  #playground:hover{
    font-weight: 500;
  }
  #about:hover{
    font-weight: 500;
  }
  svg{
    position: absolute;
    top: 0;
    z-index: -1;
  }
  h1{
    font-family: "Poppins", sans-serif;
    font-size: 4.7rem;
    font-weight: 800;
    color: #404040;
  }
	h2{
    font-family: "Poppins", sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
		display: inline;
    color: #404040;
  }

  h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.9rem;
		font-weight: 300;
		color: #404040;
  }
	h3{
		font-family: "Poppins", sans-serif;
    font-size: 21px;
		display: inline;
    font-weight: 400;
		margin-bottom: 3%;
		margin-top: 5%;
    color: #404040;
	}


  h6{
		font-family: "Poppins", sans-serif;
		font-size: 18px;
		font-weight: 100;
		margin-top: 2%;
		color: #404040;
		margin-bottom: 1.5%;
  }
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
	p{
		font-family: "Poppins", sans-serif;
    align-items: flex-end;
		font-size: 18px;
		font-weight: 100;
		line-height: 1.9;
    color: #404040;
	}
}
@media only screen and (max-width: 600px) {
	.mainbody{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
  }
  .header{
    margin-top: 12%;
    margin-left: 10%;
		margin-right: 10%;
    margin-bottom: 2%;
  }
	#about{
		display: none;
	}
	#playground{
		display: none;
	}
	#works{
		display: none;
	}
	#title_mobile{
		display: block;
	}
	#title_screen{
		display: none;
	}
	#target{
		font-weight: 500;
	}
  .container{
    display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(8, 1fr);
		align-items: stretch;
		height: 75vh;
  }
	.header_mobile{
		grid-row: 1/2;
		display: block;
		grid-column: 1/8;
	}
	.hello{
		grid-row: 4/5;
		/* grid-column: 1/2; */
	}
	.description{
		grid-row: 5/6;
		/* grid-column: 1/8; */
		line-height: 0.9;
		margin-top: 6%;
	}
	.norinuri{
    grid-row: 3/4;
		grid-column: 1/7;
    cursor: pointer;
  }
  .journey{
    grid-row: 4/5;
    grid-column: 1/7;
    cursor: pointer;
  }
  .comine{
    grid-row: 5/6;
    grid-column: 1/7;
    cursor: pointer;
  }
  .algo{
    grid-row: 6/7;
    grid-column: 1/7;
    cursor: pointer;
  }
  .graphic{
    grid-row: 7/8;
    grid-column: 1/7;
    cursor: pointer;
  }
	.retail{
		grid-row: 8/9;
		grid-column: 1/7;
		cursor: pointer;
	}

	h1{
		font-family: "Poppins", sans-serif;
		font-size: 3.7rem;
		font-weight: 800;
		color: #404040;
	}
	h2{
		font-family: "Poppins", sans-serif;
		font-size: 2.3rem;
		font-weight: 600;
		display: inline;
		color: #404040;
	}
	h3{
		font-family: "Poppins", sans-serif;
		font-size: 1.7rem;
		font-weight: 500;
		color: #404040;
		line-height: 2rem;
	}
	h4{
		font-family: "Poppins", sans-serif;
		font-size: 21px;
		margin-top: 3%;
		/* display: inline; */
		font-weight: 400;
		color: #404040;
	}
	.h4{
		font-family: "Poppins", sans-serif;
		font-size: 1.4rem;
		margin-top: 3%;
		display: inline;
		font-weight: 200;
		color: #404040;
	}
		/* didn't use yet */
	h6{
		font-family: "Poppins", sans-serif;
		font-size: 18px;
		font-weight: 100;
		margin-top: 5%;
		color: #404040;
		margin-bottom: 1.5%;
	}
	#selected{
		font-weight: 400;
		font-size: 1.7rem;
		color: #FFDE3A;
	}
	p{
		font-family: "Poppins", sans-serif;
		align-items: flex-end;
		font-size: 1.5rem;
		font-weight: 100;
		line-height: 1.3em;
		color: #404040;
	}
}
